<div class="toolbar editmode">
    <ul class="list-inline">
        <li><button id="undoedit" class="btn btn-default"><i class="fa fa-undo" ></i></button></li>
    </ul>
</div>

<div class="container content">
    <div class="col-md-2">
        <% include leftbar %>
    </div>
    
    <div id="formbox" class="editmode insertmode"></div>

    <div class="col-md-3">
        <% include rightbar %>
    </div>
</div>


<script id="htpl-form" type="text/x-handlebars-template">
    <form id="activityForm">
    <div class="col-md-7">
        <!-- Standard Form Controls -->
        <div class="tag-box tag-box-v3 form-page" name="activity-form" id="content-form" style="border:0;padding:0;">

            <div class="headline">
                <div class="row">
                    <div class="col-sm-10"><h3 data-i18n="{{#if name}}activity.edit{{else}}activity.new{{/if}}"></h3></div>
                </div>
            </div>

            <!--language writing Start-->
            <select id="multilanguageselect" class="form-control">
                <option value='it'>&#x1F1EE;&#x1F1F9;&nbsp;Italiano</option>
                <option value='en'>&#x1F1EC;&#x1F1E7;&nbsp;Inglese</option>
                <!--option value='fr'>&#x1F1EB;&#x1F1F7;&nbsp;Francese</option>
                <option value='es'>&#x1F1EA;&#x1F1F8;&nbsp;Spagnolo</option>
                <option value='de'>&#x1F1E9;&#x1F1EA;&nbsp;Tedesco</option>
                <option value='pt'>&#x1F1F5;&#x1F1F9;&nbsp;Portoghese</option>
                <option value='ru'>&#x1F1F7;&#x1F1FA;&nbsp;Russo</option>
                <option value='gr'>&#x1F1EC;&#x1F1F7;&nbsp;Greco</option>
                <option value='br'>&#x1F1E7;&#x1F1F7;&nbsp;Brasiliano</option-->
            </select>
            <!--language writing End-->

            <h4 data-i18n="activity.name"></h4>
            <input id="f_name" type="text" class="form-control" placeholder="" required maxlength="100">
            <div class="margin-bottom-20"></div>

            <h4 data-i18n="activity.vat"></h4>
            <input id="f_vat" type="text" class="form-control" placeholder="min 11 / max 16 characters" pattern="[A-Za-z0-9]{11,16}" maxlength="16" required value="{{vat}}">
            <div class="margin-bottom-20"></div>

            <!-- Descrizione section-->
            <h4 data-i18n="activity.desc">Descrizione</h4>
            <textarea id="f_description" class="form-control" rows="7" maxlength="2000" placeholder="" required></textarea>
            <div class="margin-bottom-20"></div>

            <!-- Image upload section-->

            <h4>Gallery</h4>            
            <div class="margin-bottom-10"></div>
            <div id="f_imageContainer" class="row margin-bottom-20" style="overflow-x:scroll;width:auto;">
                {{#each images}}
                    <div class="imgctn">
                        <span class="deletebutton" onclick="removePicture(this, '{{this.id}}');">&times;</span>
                        <img name="image" data-id='{{this.id}}' class="img-responsive rounded-2x" src='{{this.src}}' {{#if data}} data="{{this.data}}"{{/if}}> 
                    </div>
                {{/each}}
            </div>
            
            <input type="file" id="fileUpload" name="files[]" style="display: none;" />
            <button class="btn-u btn-u-red" type="button" onclick="document.getElementById('fileUpload').click();">
                <i class="fa fa-folder-open"></i> <span data-i18n="activity.file"></span>
            </button>
            
            <hr>
            <div class="margin-bottom-10"></div>

            <!-- Category Section -->
            <h4 data-i18n="activity.cats"></h4>
            <div class="margin-bottom-10"></div>
            <div class="row" id="f_catDrop">
                {{#each cats}}
                <div class="col-md-3">
                    <input id="cbox_{{this._id}}" type="checkbox" value="{{this._id}}" name="category" class="ibtn" {{#if this.checked}} checked {{/if}}>
                    <label for="cbox_{{this._id}}">{{this.name}}</label>
                </div>
                {{/each}}
            </div>

            <div class="margin-bottom-20"></div>
            <hr>


            <!-- Map Section -->
            <h4 data-i18n="activity.map"></h4>
            <small data-i18n="maphint"></small><br />
            <div id="f_map" class="map margin-bottom-10"></div>
            <label for="f_address" data-i18n="activity.address"></label><input id="f_address" class="sky-form" style="width:100%;" value="{{address}}" required/>
            <div id="fAddressChanged" class="container">
                <div class="row">
                    <div class="col-md-8">
                        <span data-i18n="activity.adrChanged"></span><br />
                        <i class="fa fa-map-o"></i> <span class="newAdr"></span>
                    </div>
                    <div class="col-md-4" style="padding-top:4px;">
                        <button id="changeAddress" class="btn btn-default" type="button" data-i18n="activity.adrChange"></button>
                    </div>
                </div>
            </div>
            <hr>
            
            <!-- Contact Section -->
            <h4 data-i18n="activity.contact"></h4>
            <small data-i18n="activity.contacthint"></small>
            <div class="contactsform">
                <div class="row">
                    <div class="col-md-6"><i class="icon-custom icon-sm rounded-x icon-bg-white fa fa-envelope"></i> <input class="form-control" type="email" placeholder="Email" id="f_email" value="{{email}}" required /></div>
                    <div class="col-md-6"><i class="icon-custom icon-sm rounded-x icon-bg-white fa fa-phone"></i> <input class="form-control" type="text" pattern="\+?[\s0-9]{8,}" placeholder="Phone" id="f_phone" value="{{phone}}" required /></div>
                </div>
                <div class="row">
                    <div class="col-md-6"><i class="icon-custom icon-sm rounded-x icon-bg-dark-blue fa fa-facebook"></i> <input class="form-control" type="url" placeholder="Facebook" id="f_fb" value="{{facebook}}" /></div>
                    <div class="col-md-6"><i class="icon-custom icon-sm rounded-x icon-bg-blue fa fa-twitter"></i> <input class="form-control" type="url" placeholder="Twitter" id="f_tw" value="{{twitter}}" /></div>
                </div>
                <div class="row">
                    <div class="col-md-6"><i class="icon-custom icon-sm rounded-x icon-bg-brown fa fa-instagram"></i> <input class="form-control" type="url" placeholder="Instagram" id="f_inst" value="{{instagram}}" /></div>
                    <div class="col-md-6"><i class="icon-custom icon-sm rounded-x icon-bg-green fa fa-tripadvisor"></i> <input class="form-control" type="url" placeholder="Tripadvisor" id="f_ta" value="{{tripadvisor}}" /></div>
                </div>
            </div>
            <hr>

            <button id="addContentButton" class="btn-u btn-u-default insertmode" type="button">Add Activity</button>
            <button id="updateContentButton" class="btn-u btn-u-default editmode" type="button">Update Activity</button>
            <!--button id="deleteContentButton" class="btn-u btn-u-red editmode" type="button">Delete Activity</button-->
        </div>
    </div>
    </form>
</script>

<script id="htpl-img-f" type="text/x-handlebars-template">
    <div class="imgctn">
        <span class="deletebutton" onclick="removePicture(this, '{{id}}');">&times;</span>
        <img name="image" data-id='{{id}}' class="img-responsive rounded-2x" src='{{src}}' {{#if data}} data="{{data}}"{{/if}}> 
    </div>
</script>
