<!-- Standard Form Controls -->
<form class="tag-box tag-box-v3 form-page insertmode editmode" name="activity-form" id="content-form" style="display:none;">

    <div class="headline"><h3>Modifica Attività</h3></div>
    <!--Inputs-->
    <h4>Nome Attività</h4>
    <input id="f_name" type="text" class="form-control" placeholder="es. Ristorante La Spigola" required>
    <!--End Inputs-->
    <div class="margin-bottom-20"></div>

    <!-- Descrizione section-->
    <h4>Descrizione</h4>
    <textarea id="f_description" class="form-control" rows="7" placeholder="es. Il ristorante La Spigola è conosciuto come uno dei migliori ristoranti di Cagliari..." ></textarea>
    <div class="margin-bottom-20"></div>

    <!-- Image upload section-->

    <h4>Immagini</h4>

    <div class="margin-bottom-10"></div>
    <div id="f_imageContainer" class="row margin-bottom-10">
        <div class="col-sm-3 col-xs-6 md-margin-bottom-20" data-img-thumb-pos="0" ></div>
        <div class="col-sm-3 col-xs-6 md-margin-bottom-20" data-img-thumb-pos="1" ></div>
        <div class="col-sm-3 col-xs-6 md-margin-bottom-20" data-img-thumb-pos="2"></div>
        <div class="col-sm-3 col-xs-6 md-margin-bottom-20" data-img-thumb-pos="3" ></div>
    </div>

    <button class="btn-u fileinput-button" type="button">
        <i class="fa fa-picture-o">
            <input id="fileUpload" type="file" name="files[]">
        </i>
        <span>Carica Immagine</span>
    </button>


    <!--<div id="files" class="files"></div>-->
    <hr>
    <div class="margin-bottom-10"></div>


    <!-- Category Section -->

    <h4>Categorie</h4>
    <div class="margin-bottom-10"></div>
    <div class="row" id="f_catDrop">
        <div class="col-md-3" data-cp-cbox-pos="0"></div>
        <div class="col-md-3" data-cp-cbox-pos="1"></div>
        <div class="col-md-3" data-cp-cbox-pos="2"></div>
        <div class="col-md-3" data-cp-cbox-pos="3"></div>
    </div>

    <div class="margin-bottom-20"></div>
    <hr>


    <!-- Map Section -->
    <h4>Mappa</h4>

    <p id="f_address"></p>
    <div id="f_map" class="map margin-bottom-50"></div>
    <hr>
    <label id="image_array_url"></label>
    <button id="addContentButton" class="btn-u btn-u-default insertmode" type="button">Add Activity</button>
    <button id="updateContentButton" class="btn-u btn-u-default editmode" type="button">Update Activity</button>
    <button id="deleteContentButton" class="btn-u btn-u-red editmode" type="button">Delete Activity</button>


    <script id="f_cp-cats" type="text/x-cp-snippet">
        <label class="checkbox">
            <input type="checkbox" value="" name="category" class=".ibtn">
        </label>
    </script>

</form>


