 <div class="col-md-2">
    <% if(model.logged && model.activityBody) { %>
    Administrators
    <ul class="list-group sidebar-nav-v1" id="sidebar-nav">
        <li><%= model.activityBody.owner %></li>
    <% for(var i=0; i<model.activityBody.admins.length; i++) {%>
       <li><%= model.activityBody.admins[i] %></li>
    <% } %>
      
    </ul>
    <% } %>
</div>