<div style="margin-top:20px;display:none;" id="promoList" class="editmode"></div>

<script id="promo-template" type="text/x-handlebars-template">
<div class="editmode" style="display:none;">
    <a href="<%= baseUrl %>activities/{{idcontent}}/promotions/new"><button id="addPromotionButton" class="btn-u" type="button" data-i18n="search.newpromo"></button></a>
    <hr>
</div>

{{#each promos}}
<div class="row">
    <div class="">
        <div class="thumbnails thumbnail-style thumbnail-kenburn">
            <div class="thumbnail-img">
                <div class="overflow-hidden">
                    <img class="img-responsive" src="{{this.images.[0]}}" alt="">
                </div>
                <a class="btn-more hover-effect" href="<%= baseUrl %>activities/{{this.idcontent}}/promotions/{{this._id}}/">read more +</a>
            </div>
            <div class="caption">
                <h3><a class="hover-effect" href="<%= baseUrl %>activities/{{this.idcontent}}/promotions/{{this._id}}/">{{this.name}}</a></h3>
                <p>{{this.description}}</p>
            </div>
        </div>
    </div>
</div>
{{/each}}
</script>
