<div class="editmode" style="display:none;">
    <a href="promotions/new"><button id="addPromotionButton" class="btn-u" type="button"> Nuova Promozione</button></a>
    <hr>
    <div class="search-open" style="display: block; margin-bottom:40px;">
        <div class="input-group ">
            <input type="text" class="form-control" placeholder="Filtro offerte/eventi ">
            <span class="input-group-btn">
                <button class="btn-u" type="button">Go</button>
            </span>
        </div>
    </div>
</div>

<div style="margin-top:20px;display:none;" id="promoList" class="editmode"></div>

<script id="promo-template" type="text/x-handlebars-template">
{{#each promos}}
<div class="row">
    <div class="">
        <div class="thumbnails thumbnail-style thumbnail-kenburn">
            <div class="thumbnail-img">
                <div class="overflow-hidden">
                    <img class="img-responsive" src="{{this.images.[0]}}" alt="">
                </div>
                <a class="btn-more hover-effect" href="/activities/{{this.idcontent}}/promotions/{{this._id}}/">read more +</a>
            </div>
            <div class="caption">
                <h3><a class="hover-effect" href="/activities/{{this.idcontent}}/promotions/{{this._id}}/">{{this.name}}</a></h3>
                <p>{{this.description}}</p>
            </div>
        </div>
    </div>
</div>
{{/each}}
</script>
