<div class="viewmode">
    <div class="headline">
        <div class="row">
            <div class="col-sm-9">
                <h3>Dettagli Attività</h3>
            </div>                        
            <div class="col-sm-3 loggedonly">
                <ul class="list-inline posted-info">
                    <li><button id="editContent" class="btn btn-default" title="edit content"><i class="fa fa-pencil" ></i></button></li>
                    <li><button id="lockContent" class="btn btn-default sadmin" title="" style="display:none;"><i class="fa" ></i></button></li>
                </ul>
            </div>                        
        </div>
    </div>
    <!--Inputs-->
    <h4>Nome Attività</h4>
    <label id="name" type="text"></label>
    <!--End Inputs-->
    <div class="margin-bottom-20"></div>

    <hr>

    <!-- Descrizione section-->
    <h4>Descrizione</h4>
    <label id="description"></label>
    <div class="margin-bottom-20"></div>

    <!-- Image upload section-->

    <hr>
    <h4>Immagini</h4>

    <div class="margin-bottom-10"></div>
    <div id="imageContainer" class="row margin-bottom-10;" style="overflow-x:scroll;"> 
    </div>

    <hr>
    <div class="margin-bottom-10"></div>


    <!-- Category Section -->

    <h4>Categorie</h4>
    <div class="margin-bottom-10"></div>
    <div class="row" id="catDrop">
        <div class="col-md-3" data-cp-cbox-pos="0" ></div>
        <div class="col-md-3" data-cp-cbox-pos="1" ></div>
        <div class="col-md-3" data-cp-cbox-pos="2"></div>
        <div class="col-md-3" data-cp-cbox-pos="3" ></div>
    </div>

    <div class="margin-bottom-10"></div>
    <hr>

    <!-- Map Section -->
    <h4>Mappa</h4>

    <p id="address"></p>
    <div id="map" class="map margin-bottom-50"></div>

    <div class="margin-bottom-20"></div>
    <hr>


    <script id="htpl-img" type="text/x-handlebars-template">
        <div class="imgctn">
            <img class="img-responsive rounded-2x" src="{{src}}" alt="">
        </div>
    </script>

    <script id="cp-cats" type="text/x-cp-snippet">
    <label></label>
    </script>
</div>