<div class="modal fade" id="lockmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel4"><i class="fa fa-lock"></i> Lock Content</h4>
            </div>
            <div class="modal-body">
                
                <div>                        
                    <small>You are going to hide this content, tell the owner your reasons</small>
                    <p><textarea id="lockreasons" class="form-control" type="textarea" rows="5"></textarea></p>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-u btn-u-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn-u btn-u-primary" data-dismiss="modal" id="lockmail">Send and Lock</button>
            </div>
        </div>
    </div>
</div>

<div id="viewbox" class="viewmode"></div>

<script id="htpl-view" type="text/x-handlebars-template">
    <div class="toolbar">
        <ul class="list-inline">
            <li>
                <select class="form-control" id="myActList" style="display:none;"></select>
            </li>
            <li>
                <button id="lockContent" class="btn btn-default sadmin" style="display:none;" title="" data-toggle="modal">
                    <i class="fa" ></i>
                </button>
            </li>
            <li>
                <button id="addPromoTop" class="btn btn-default loggedonly" title="new promotion">
                    <i class="fa fa-calendar-plus-o" ></i>
                </button>
            </li>
            <li>
                <button id="editContent" class="btn btn-default loggedonly" title="edit activity">
                    <i class="fa fa-pencil" ></i>
                </button>
            </li>
            <li>
                <button id="addActivity" class="btn btn-default loggedonly" title="new activity">
                    <i class="fa fa-plus-circle" ></i>
                </button>
            </li>
            <li>
                <button id="delContent" class="btn btn-default owner" title="delete activity">
                    <i class="fa fa-remove"></i>
                </button>
            </li>
        </ul>
    </div>
        
    <!--=== Content Part ===-->
    <div class="container content">
        <div class="title-box-v2">
            <h2><span class="color-green" data-i18n="activitycontent.title"></span></h2>
            <p data-i18n="activitycontent.description"></p>
        </div>

        <!-- About Sldier -->
        <div class="shadow-wrapper margin-bottom-50">
            <div class="carousel slide carousel-v1 box-shadow shadow-effect-2" id="myCarousel">
                <ol class="carousel-indicators">
                    {{#each images}}
                        <li class="{{#if @index}} rounded-x {{else}} rounded-x active {{/if}}" data-target="#myCarousel" data-slide-to="{{@index}}"></li>
                    {{/each}}
                </ol>

                <div class="carousel-inner">
                    {{#each images}}
                    <div class="{{#if @index}} item {{else}} item active {{/if}}">
                        <img class="img-responsive" src="{{this}}" alt="">
                    </div>
                    {{else}}
                    <div class="item active">
                        <img class="img-responsive" src="<%= baseUrl %>/img/view.jpg" alt="">
                    </div>
                    {{/each}}
                </div>

                <div class="carousel-arrow">
                    <a data-slide="prev" href="#myCarousel" class="left carousel-control">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a data-slide="next" href="#myCarousel" class="right carousel-control">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- End About Sldier -->

        <div class="row margin-bottom-10">
            {{#each cats}}
            <div class="col-sm-2">
                <div class="service-block service-block-default">
                    <i class="icon-custom rounded {{this.icon}}"></i>
                    <h2 class="heading-md">{{this.name}}</h2>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    <!--=== End Content Part ===-->

    {{#if promos.length}}
        <div class="parallax-team parallaxBg" style="background-position: 50% -68px;">
            <div class="container content">
                <div class="title-box-v2">
                    <h2 data-i18n="activity.relatedpromo"><!--span class="color-green">correlati</span--></h2>
                    <p></p>
                </div>
                <div class="row">
                    {{#each promos}}
                    <!-- Team v2 -->
                    <div class="col-md-3 col-sm-6">
                        <div class="team-v2">
                            <div style="height:175px;overflow:hidden;"><a href="<%= baseUrl %>activities/{{this.idcontent}}/promotions/{{this._id}}/"><img class="img-responsive" src="{{this.images.[0]}}" alt=""></a></div>
                            <div class="inner-team">
                                <h3>{{#if this.recurrency_group}}<i class="fa fa-history" style="color:lightskyblue; vertical-align: super;font-size:small;" data-i18n="[title]promotion.recurrence"></i>{{/if}}<a href="<%= baseUrl %>activities/{{this.idcontent}}/promotions/{{this._id}}/" data-i18n="{{this.promoLangId}}.title"></a></h3>
                                <small class="color-green">dal <b>{{this.startDate}}</b> al <b>{{this.endDate}}</b></small>
                                <p data-i18n="{{this.promoLangId}}.description"></p>
                                <hr>
                                <small><i>Last Update: {{this.lastUpdate}}</i></small>
                            </div>
                        </div>
                    </div>
                    <!-- End Team v2 -->
                    {{/each}}
                </div>
                
            </div>
        </div>
    {{/if}}
    
    <div class="container content">
        <div class="row" style="text-align: center; margin-top:20px;">
            <button id="addPromo" class="btn-u btn-u-red loggedonly" title="Add a new promotion">
                <i class="fa fa-plus-circle"></i> <span data-i18n="search.newpromo"></span>
            </button>
            <div class="col-md-12 col-sm-12" style="padding-top:10px">
                <a href="<%= baseUrl %>?type=promo&q=&idcontent={{idcontent}}" data-i18n="activity.allpromo"></a>
            </div>
        </div>
    </div>
    <hr>

    <!--=== Contacts ===-->
    <div class="contacts content">
        <div class="container">
            <div class="title-box-v2">
                <h2><span class="color-green" data-i18n="activity.contact"></span></h2>
                <p></p>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <!-- Google Map -->
                    <div id="map" class="map" style="position: relative; overflow: hidden;"></div>
                    <!-- End Google Map -->
                </div>
                <div class="col-md-6 col-sm-6">                    
                    <h3 data-i18n="activity.address"></h3>
                    <p>{{address}}</p>
                    <h3>Get In Touch</h3>
                    {{#if email}}<i class="icon-custom rounded-x icon-color-grey fa fa-envelope"></i> <a href="mailto:{{email}}">{{email}}</a><br />{{/if}}
                    {{#if phone}}<i class="icon-custom rounded-x icon-color-grey fa fa-phone"></i> {{phone}}<br />{{/if}}
                    
                    {{#if contacts.length}}
                        <h3>Social</h3>
                        {{#each contacts}}
                            <a href="{{this.url}}" title="{{this.alt}}"><i class="icon-custom rounded-x icon-color-grey {{this.icon}}"></i></a>
                        {{/each}}
                    {{/if}}
                </div>                
            </div>
        </div>
    </div>
    <!--=== End Contacts ===-->
</script>

<script id="confirmDelSnpt" type="text/html">
    <div>
        <h3>Are you sure you want delete this activity?</h3>
        <p style="color:red;">By removing this content all the related promo, events and photos will be deleted too</p>
    </div>
</script>