<div class="modal fade" id="lockmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel4"><i class="fa fa-lock"></i> Lock Content</h4>
            </div>
            <div class="modal-body">
                
                <div>                        
                    <small>You are going to hide this content, tell the owner your reasons</small>
                    <p><textarea id="lockreasons" class="form-control" type="textarea" rows="5"></textarea></p>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-u btn-u-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn-u btn-u-primary" data-dismiss="modal" id="lockmail">Send and Lock</button>
            </div>
        </div>
    </div>
</div>

<div id="viewbox" class="viewmode"></div>

<script id="htpl-view" type="text/x-handlebars-template">
    <div class="toolbar">
        <ul class="list-inline">
            <li>
                <button id="lockContent" class="btn btn-default sadmin" style="display:none;" title="" data-toggle="modal">
                    <i class="fa" ></i>
                </button>
            </li>
            <li>
                <button id="editContent" class="btn btn-default loggedonly" title="edit content">
                    <i class="fa fa-pencil" ></i>
                </button>
            </li>
        </ul>
    </div>
        
    <!--=== Content Part ===-->
    <div class="container content">
        <div class="title-box-v2">
            <h2><span class="color-green">{{name}}</span></h2>
            <p>{{description}}</p>
        </div>

        <!-- About Sldier -->
        <div class="shadow-wrapper margin-bottom-50">
            <div class="carousel slide carousel-v1 box-shadow shadow-effect-2" id="myCarousel">
                <ol class="carousel-indicators">
                    {{#each images}}
                        <li class="{{#if @index}} rounded-x {{else}} rounded-x active {{/if}}" data-target="#myCarousel" data-slide-to="{{@index}}"></li>
                    {{/each}}
                </ol>

                <div class="carousel-inner">
                    {{#each images}}
                    <div class="{{#if @index}} item {{else}} item active {{/if}}">
                        <img class="img-responsive" src="{{this}}" alt="">
                    </div>
                    {{else}}
                    <div class="item active">
                        <img class="img-responsive" src="<% baseUrl %>/img/view.jpg" alt="">
                    </div>
                    {{/each}}
                </div>

                <div class="carousel-arrow">
                    <a data-slide="prev" href="#myCarousel" class="left carousel-control">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a data-slide="next" href="#myCarousel" class="right carousel-control">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- End About Sldier -->

        <div class="row margin-bottom-10">
            {{#each cats}}
            <div class="col-sm-2">
                <div class="service-block service-block-default">
                    <i class="icon-custom rounded {{this.icon}}"></i>
                    <h2 class="heading-md">{{this.name}}</h2>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    <!--=== End Content Part ===-->

    <div class="parallax-team parallaxBg" style="background-position: 50% -68px;">
        <div class="container content">
            <div class="title-box-v2">
                <h2>Promozioni e eventi <span class="color-green">correlati</span></h2>
                <p></p>
            </div>
            
            <div class="row">
                {{#each promos}}
                <!-- Team v2 -->
                <div class="col-md-3 col-sm-6">
                    <div class="team-v2">
                        <div style="height:175px;overflow:hidden;"><img class="img-responsive" src="{{this.images.[0]}}" alt=""></div>
                        <div class="inner-team">
                            <h3><a href="/activities/{{this.idcontent}}/promotions/{{this._id}}/">{{this.name}}</a></h3>
                            <small class="color-green">dal {{this.startDate}} al {{this.endDate}}</small>
                            <p>{{this.description}}</p>
                            <hr>
                            <small>Last Update: {{this.lastUpdate}}</small>
                        </div>
                    </div>
                </div>
                <!-- End Team v2 -->
                {{/each}}
            </div>
        </div>
    </div>


    <!--=== Contacts ===-->
    <div class="contacts content">
        <div class="container">
            <div class="title-box-v2">
                <h2>i nostri <span class="color-green">Contatti</span></h2>
                <p></p>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <!-- Google Map -->
                    <div id="map" class="map" style="position: relative; overflow: hidden;"></div>
                    <!-- End Google Map -->
                </div>
                <div class="col-md-6 col-sm-6">                    
                    <h3>Indirizzo</h3>
                    <p>{{address}}</p>
                    <h3>Get In Touch</h3>
                    <i class="icon-custom rounded-x icon-color-grey fa fa-envelope"></i> <a href="mailto:{{email}}">{{email}}</a><br />
                    <i class="icon-custom rounded-x icon-color-grey fa fa-phone"></i> {{phone}}<br />
                    
                    <h3>Social</h3>
                    {{#each contacts}}
                        <a href="{{this.url}}" title="{{this.alt}}"><i class="icon-custom rounded-x icon-color-grey {{this.icon}}"></i></a>
                    {{/each}}
                </div>                
            </div>
        </div>
    </div>
    <!--=== End Contacts ===-->
</script>