<div class="viewmode">
    <div class="headline">
        <div class="row">
            <div class="col-sm-9">
                <h3>Dettagli Attività <a href="#" style="display:none;"><span id="lockedContent" class="fa fa-lock" title="content locked"></span></a></h3>
            </div>                        
            <div class="col-sm-3">
                <ul class="list-inline posted-info">
                    <li><button id="lockContent" class="btn btn-default sadmin" style="display:none;" title="" data-toggle="modal"><i class="fa" ></i></button></li>
                    <li><button id="editContent" class="btn btn-default loggedonly" title="edit content"><i class="fa fa-pencil" ></i></button></li>
                </ul>
            </div>
        </div>
    </div>





    <div class="modal fade" id="lockmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel4"><i class="fa fa-lock"></i> Lock Content</h4>
                </div>
                <div class="modal-body">
                    
                    <div>                        
                        <small>You are going to hide this content, tell the owner your reasons</small>
                        <p><textarea id="lockreasons" class="form-control" type="textarea" rows="5"></textarea></p>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-u btn-u-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn-u btn-u-primary" id="lockmail">Send and Lock</button>
                </div>
            </div>
        </div>
    </div>






    <!--Inputs-->
    <h4>Nome Attività</h4>
    <label id="name" type="text"></label>
    <!--End Inputs-->
    <div class="margin-bottom-20"></div>

    <hr>

    <!-- Descrizione section-->
    <h4>Descrizione</h4>
    <label id="description"></label>
    <div class="margin-bottom-20"></div>

    <!-- Image upload section-->

    <hr>
    <h4>Immagini</h4>

    <div class="margin-bottom-10"></div>
    <div id="imageContainer" class="row margin-bottom-10;" style="overflow-x:scroll;"> 
    </div>

    <hr>
    <div class="margin-bottom-10"></div>


    <!-- Category Section -->

    <h4>Categorie</h4>
    <div class="margin-bottom-10"></div>
    <div class="row" id="catDrop">
        <div class="col-md-3" data-cp-cbox-pos="0" ></div>
        <div class="col-md-3" data-cp-cbox-pos="1" ></div>
        <div class="col-md-3" data-cp-cbox-pos="2"></div>
        <div class="col-md-3" data-cp-cbox-pos="3" ></div>
    </div>

    <div class="margin-bottom-10"></div>
    <hr>

    <!-- Map Section -->
    <h4>Mappa</h4>

    <p id="address"></p>
    <div id="map" class="map margin-bottom-50"></div>

    <div class="margin-bottom-20"></div>
    <hr>


    <script id="htpl-img" type="text/x-handlebars-template">
        <div class="imgctn">
            <img class="img-responsive rounded-2x" src="{{src}}" alt="">
        </div>
    </script>

    <script id="cp-cats" type="text/x-cp-snippet">
    <label></label>
    </script>
</div>