<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <title>Profile Settings | Cagliari Port 2020</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

</head>

<body >
<script type="text/javascript" src="<%=properties.contentUIUrl%>/assets/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="<%=properties.contentUIUrl%>/node_modules/async/dist/async.min.js"></script>
<script type="text/javascript" src="<%=properties.contentUIUrl%>/customAssets/js/tokenManager.js"></script>
<script type="text/javascript" src="<%=properties.contentUIUrl%>/customAssets/js/utils.js"></script>

<script type="text/javascript">
    jQuery(document).ready(function() {
        logOut('/');
    });
</script>

</body>
</html>