<!DOCTYPE html>
<!--[if IE 8]><html lang="en" class="ie8"><![endif]-->
<!--[if IE 9]><html lang="en" class="ie9"><![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<title>Cagliari Port 2020 | Passengers portal</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Favicon -->
	<link rel="shortcut icon" href="favicon.ico">

	<!-- Web Fonts -->
	<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>

	<!-- CSS Global Compulsory -->
	<link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/style.css">

	<!-- CSS Header and Footer -->
	<link rel="stylesheet" href="assets/css/headers/header-default.css">
	<link rel="stylesheet" href="assets/css/footers/footer-v1.css">

	<!-- CSS Implementing Plugins -->
	<link rel="stylesheet" href="assets/plugins/animate.css">
	<link rel="stylesheet" href="assets/plugins/line-icons/line-icons.css">
	<link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.min.css">

	<!-- CSS Page Style -->
	<link rel="stylesheet" href="assets/css/pages/page_search_inner.css">

	<!-- CSS Theme -->
	<link rel="stylesheet" href="assets/css/theme-colors/default.css" id="style_color">
	<link rel="stylesheet" href="assets/css/theme-skins/dark.css">
	<link rel="stylesheet" href="assets/css/custom.css">

	<!-- CP2020 CSS Customization -->
	<link rel="stylesheet" href="css/plugins/bootstrap-datetimepicker.min.css">
	<link rel="stylesheet" href="css/plugins/jquery.growl.css">
	<link rel="stylesheet" href="css/custom_search.css">
</head>

<body>
	<div class="wrapper">

		<!--=== Search Block Version 2 ===-->
		<div id="searchBox">
			<div class="container">
				<div class="col-md-6 col-md-offset-3">
					<div class="input-group">
						<span class="input-group-btn">
							<button id="doAdv" class="btn-u btn-u-default" type="button"><i class="fa fa-cogs"></i></button>
						</span>
						<input id="qt" type="text" class="form-control" placeholder="Cerca...">
						<span class="input-group-btn">
							<button id="doSearch" class="btn-u" type="button"><i class="fa fa-search"></i></button>
						</span>
					</div>
				</div>
      		</div>
      		
      		
			<div id="adv" class="animated fadeInDown text-center" style="display:none;margin-top:8px;">
				<div id="advMenu"></div>
				<div id="advtool" style="display:none;" class="animated fadeInDown text-center"></div>
			</div><!-- end adv -->
		</div><!-- end searchtool -->


		<!--=== Search Results ===-->
		<div class="container s-results margin-bottom-50">
			<span class="results-number">About <span id="tot"></span> results</span>
			<div id="searchresults"></div>
			<div class="margin-bottom-30"></div>
		</div><!--/container-->
		<!--=== End Search Results ===-->

	</div><!--/End Wrapper-->


	<script type="text/javascript">
		var baseUrl = '<%= baseUrl %>';
		var contentsUrl = '<%= contentsUrl %>';
	</script>
	<!-- JS Global Compulsory -->
	<script type="text/javascript" src="assets/plugins/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="assets/plugins/jquery/jquery-migrate.min.js"></script>
	<script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>

	<!-- CP2020 -->
	<script type="text/javascript" src="js/plugins/handlebars-v4.0.5.js"></script>
	<script type="text/javascript" src="js/plugins/typeahead.bundle.min.js"></script>
	<script type="text/javascript" src="js/plugins/moment-with-locales.min.js"></script>
	<script type="text/javascript" src="js/plugins/bootstrap-datetimepicker.min.js"></script>
	<script type="text/javascript" src="js/plugins/jquery.growl.js"></script>
	<script type="text/javascript" src="js/search.js"></script>

	<!-- JS Implementing Plugins -->
	<script type="text/javascript" src="assets/plugins/back-to-top.js"></script>
	<script type="text/javascript" src="assets/plugins/smoothScroll.js"></script>
	<!-- JS Customization -->
	<script type="text/javascript" src="assets/js/custom.js"></script>
	<!-- JS Page Level -->
	<script type="text/javascript" src="assets/js/app.js"></script>

	<!--[if lt IE 9]>
	<script src="assets/plugins/respond.js"></script>
	<script src="assets/plugins/html5shiv.js"></script>
	<script src="assets/plugins/placeholder-IE-fixes.js"></script>
	<![endif]-->

	<script id="cp-ac" type="text/x-cp-snippet">
		<input class="typeahead form-control cp-autocomplete adv" placeholder="Nome nave">
	</script>


	<script id="cp-advmenu" type="text/x-cp-snippet">
		<ul class="list-inline">
			<li>
				<div id="categoriesDrop" class="dropdown">
					<div class="dropdown-toggle" data-toggle="dropdown">
						<span id="advCat">Categoria</span>
						<span class="caret"></span>
					</div>
					<ul class="dropdown-menu"></ul>
				</div>
			</li>
			<li>
				<div class="dropdown">
					<div class="dropdown-toggle" data-toggle="dropdown">
						<span id="advDate">Periodo</span>
						<span class="caret"></span>
					</div>
					<ul class="dropdown-menu" role="menu" >
						<li><a href="#" data-cp-tm="d-today">Oggi</a></li>
						<li><a href="#" data-cp-tm="d-tom">Domani</a></li>
						<li><a href="#" data-cp-tm="d-int">Intervallo date</a></li>
						<li class="divider"></li>
						<li><a href="#" data-cp-tm="d-ship">Prossimo arrivo nave</a></li>
					</ul>
				</div>
			</li>
			<li>
				<div class="dropdown">
					<div class="dropdown-toggle" data-toggle="dropdown">
					<span id="advType">Tipo</span>
						<span class="caret"></span>
					</div>
					<ul class="dropdown-menu">
						<li><a href="#">Promozione o evento</a></li>
						<li><a href="#">Servizio</a></li>
						<li><a href="#">Tutti</a></li>
					</ul>
				</div>
			</li>
		</ul>
	</script>


	<script id="cp-datepicker" type="text/x-cp-snippet">
		<div id="intdates" class="animated fadeInDown adv">
			<div class="col-md-6">
		        <div class="form-group pull-right">
		            <div class='input-group date' id='dtp1'>
		                <input type='text' class="form-control" readonly placeholder="Data inizio..." />
		                <span class="input-group-addon">
		                    <span class="fa fa-calendar"></span>
		                </span>
		            </div>
		        </div>
	        </div>
	    	<div class="col-md-6">
		        <div class="form-group pull-left">
		            <div class='input-group date' id='dtp2'>
		                <input type='text' class="form-control" readonly placeholder="Data fine..." />
		                <span class="input-group-addon">
		                    <span class="fa fa-calendar"></span>
		                </span>		                
		            </div>
		        </div>
		        <div class="pull-left" style="margin-left:10px;">
		        	<button class="btn-u btn-u-green cp-ok" type="button"><i class="fa fa-check"></i></button>
		        	<button class="btn-u btn-u-red cp-undo" type="button"><i class="fa fa-undo"></i></button>
		        </div>
		    </div>
		</div>
	</script>


	<!-- Handlebars templates -->

	<!-- Search result item -->
	<script id="entry-template" type="text/x-handlebars-template">
		<div class="inner-results">
			<h3><a href="#{{contentid}}">{{title}}</a></h3>
			<ul class="list-inline up-ul">
				<li class="btn-group">
					<button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">
						More<i class="fa fa-caret-down margin-left-5"></i>
						<span class="sr-only">Toggle Dropdown</span>
					</button>
					<ul role="menu" class="dropdown-menu">
						<li><a href="#">Share</a></li>
						<li><a href="#">Similar</a></li>
						<li><a href="#">Advanced search</a></li>
					</ul>
				</li>
				<li><a href="#">Admin</a></li>
			</ul>
			<div class="overflow-h">
				<img src="assets/img/testimonials/img1.jpg" alt="">
				<div class="overflow-a">
					<p>{{description}}</p>
					<ul class="list-inline down-ul">
						<li>
							<ul class="list-inline star-vote">
								<li><i class="color-green fa fa-star"></i></li>
								<li><i class="color-green fa fa-star"></i></li>
								<li><i class="color-green fa fa-star"></i></li>
								<li><i class="color-green fa fa-star"></i></li>
								<li><i class="color-green fa fa-star-half-o"></i></li>
							</ul>
						</li>
						<li>11 months ago - By WrapBootstrap</li>
						<li>2,092,675 like</li>
					</ul>
				</div>
			</div>
		</div>
		<hr />
	</script>
	<!-- End search result item -->

	<!-- Categories drop -->
	<script id="categories" type="text/x-handlebars-template">
		{{#each cats}}
		<li><a href="#" data-cat-id="{{this._id}}">{{this.name}}</a></li>
		{{else}}
		<li>No category found</li>
		{{/each}}
	</script>
	<!-- End categories drop -->

	</body>
</html>
