@charset "UTF-8";


.fileinput-button {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px !important;
  direction: ltr;
  cursor: pointer;
}

.imgctn .deletebutton {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 100;
  padding: 2px 2px 6px;
  color:white;
  background: red;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  font-size: 22px;
  line-height: 10px;
  border-radius: 12px; 
  -webkit-border-radius: 12px; 
  -moz-border-radius: 12px; 
}
.imgctn:hover .deletebutton {
  opacity: 1;
}

a.delAdmin{
  text-decoration:none;
}

.delAdmin span.fa-remove {
  color:red;
}

.loggedonly {display:none;}


.imgctn {
  padding:3px 12px;
  position:relative;
  vertical-align:top;
  display:inline-block;  
  width:150px;
  margin-right:20px;
  white-space: nowrap !important;
}

.locked {
  display:none;
  text-align:center;
  margin:100px auto;
}

#lockedContent {
  color:red;
}

.service-block {
  padding:30px 30px !important;
}

.carousel-inner {
  min-height:300px; /*1140x440 img*/
  max-height:440px;
  background-color: lightgrey;
  /* overflow:hidden */
}

.carousel-inner > .item > img {
  margin:auto;
  max-height:440px;
}

.toolbar {  
    position: absolute;
    right: 20px;
    margin-top:5px;
}

.contactsform input {
  width:80%;
}

/* scaffolding */
/* ----------- */


.tt-menu,
.gist {
  text-align: left;
}

/* base styles */
/* ----------- */


.table-of-contents li {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.table-of-contents li a {
  font-size: 14px;
  color: #999;
}


.tt-query,
.tt-hint {  
  padding: 8px 12px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {  
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 14px;
  line-height: 26px;
  min-width:350px;
  text-align:left;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.gist {
  font-size: 14px;
}

.tt-avatar {
  margin:5px 10px 0 0;  
  width:40px;
}

.tt-suggestion.row {
  border-bottom:1px solid lightgrey;
}