
/*promotion price Css start*/
.pricediv {
    border-radius: 50%;
    background: rgba(71,101,160, 1);
    color: white;
    width: 10vmin;
    height:10vmin;
}

.pricediv *{
    text-align: center;
    color: white;
}

.pricediv h3{
    padding-bottom: 5px;
    margin-top: 0px;
    padding-top: 15px;
    margin-bottom: 0px;
}

.pricediv h2 {
    font-size: 20px;
}
.pricediv h2 span{
    font-size: 30px;
}

.centered{
    text-align: center;
    color: white;
}

.media-body a h5:hover{
    cursor: pointer;
    font-weight: bold;
}
/*promotion price Css End*/


/*like and partecipate css Start*/
.blog-grid .blog-grid-info li.blog-grid-like{
    font-size: 18px;
    color: #0c74b1;
}
#likecounticon, #likecount{
    color: #0c74b1;
}


.blog-grid .blog-grid-info li.blog-grid-participate{
    font-size: 18px;
    color: #2f7ed6;
}


#participatecounticon,#participatecount{
    color: #2f7ed6;
}

#participatelisticon{
    color: #2f7ed6;
}


.participatelisttooltip .tooltip-inner {
    background: rgba(211,211,211,1);
    color : black;
}
.participatelisttooltip .tooltip.top .tooltip-arrow {
    border-top-color: rgba(211,211,211,1);
}
.participatelisttooltip .tooltip.right .tooltip-arrow {
    border-right-color: rgba(211,211,211,1);
}
.participatelisttooltip .tooltip.bottom .tooltip-arrow {
    border-bottom-color: rgba(211,211,211,1);
}
.participatelisttooltip .tooltip.left .tooltip-arrow {
    border-left-color: rgba(211,211,211,1);
}

#myLargeModalLabel3{
    color: #1D4976;
}




/*like and partecipate css end*/