
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <title>Cagliari Port 2020</title>
    
    <link rel="stylesheet" href="/css/plugins/jquery.mobile-1.4.5.min.css">
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7svax8fUAqTVVvtjynvTAf105rMbEEsQ"></script>
</head>

<body>
    <!-- FORM PAGE -->
    <div data-role="page" id="form">
        
        <div data-role="header">
            <h1>CAPort2020</h1>
            <button id="saveBtn" class="ui-btn-right ui-btn ui-btn-b ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-check">Save</button>    
        </div><!-- /header -->
        
        <div role="main" class="ui-content">
            <h3 id="actName"></h3>
            <form id="pform">
                <label for="title">Title</label>
                <input type="text" name="title" id="title" value="" required>

                <label for="desc">Description</label>
                <textarea rows="5" name="desc" id="desc" required></textarea>

                <label for="price">Price</label>
                <input type="number" name="price" pattern="[0-9]*" id="price" value="">

                <label for="sdate">Start Date</label>
                <input type="date" name="sdate" id="sdate" value="" required>

                <label for="edate">End Date</label>
                <input type="date" name="edate" id="edate" value="" required>

                <input type="hidden" name="lat" id="lat" value="">
                <input type="hidden" name="lon" id="lon" value="">
                <input type="hidden" name="adr" id="adr" value="">
            </form>
            <p id="address"></p>

            <a href="#position">Change on Map</a>
        </div>

        <div id="savePopup" class="ui-content" data-role="popup" data-theme="a" data-overlay-theme="b" data-transition="flip">
            <p></p>
            <button class="ui-btn ui-corner-all ui-mini ui-btn-a" data-op-success="true">OK</button>
        </div><!-- /popup -->

        <div data-role="footer" data-position="fixed">
            <div data-role="navbar">
                <ul>
                    <li><a href="/mobile/" data-icon="bullets" rel="external">My Promos</a></li>
                    <li><a href="#form/" data-icon="plus" class="ui-btn-active">New Promo</a></li>
                </ul>
            </div><!-- /navbar -->
        </div><!-- /footer -->
    </div>


    <div role="page" id="position">
        <div data-role="header" data-add-back-btn="true">
            <h1>CAPort2020</h1>            
        </div>

        <div role="main" class="ui-content" id="map"></div>
    </div>


    <script type="text/javascript" src="/assets/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/js/plugins/jquery.mobile-1.4.5.min.js"></script>
    <script type="text/javascript" src="/js/plugins/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="/js/mobile/mobile-form.js"></script>

</body>
</html>