
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <title>Cagliari Port 2020</title>
    
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
</head>

<body>

    <div data-role="page" id="list">

        <div data-role="header"  data-position="fixed">
            <h1>CAPort2020</h1>
        </div><!-- /header -->

        <div role="main" class="ui-content">
            <form>
                <div class="ui-field-contain">
                    <!--label for="select-native-1">Basic:</label-->
                    <select name="select-native-1" id="activities" data-native-menu="false">
                    <% for(var i=0; i < contents.length; i++) {%>
                        <option value="<%= contents[i]._id %>"><%= contents[i].name %></option>
                    <% } %>
                    </select>
                </div>
            </form>
            <ul data-role="listview" id="promolist" class="touch" data-icon="false"></ul>
        </div><!-- /content -->

        <div id="confirm" class="ui-content" data-role="popup" data-theme="a">
            <p id="question">Are you sure you want to delete:</p>
            <div class="ui-grid-a">
                <div class="ui-block-a">
                    <a id="yes" class="ui-btn ui-corner-all ui-mini ui-btn-a" data-rel="back">Yes</a>
                </div>
                <div class="ui-block-b">
                    <a id="cancel" class="ui-btn ui-corner-all ui-mini ui-btn-a" data-rel="back">Cancel</a>
                </div>
            </div>
        </div><!-- /popup -->


        <div data-role="footer" data-position="fixed">
            <div data-role="navbar">
                <ul>
                    <li><a href="#list" data-icon="bullets" class="ui-state-persist">My Promos</a></li>
                    <li><a href="#form" data-icon="plus" class="">New Promo</a></li>
                </ul>
            </div><!-- /navbar -->
        </div><!-- /footer -->
    
    </div><!-- /page -->





    <!-- FORM PAGE -->
    <div data-role="page" id="form">
        
        <div data-role="header"  data-position="fixed">
            <h1>CAPort2020</h1>
            <button class="ui-btn-right ui-btn ui-btn-b ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-check">Save</button>
        </div><!-- /header -->

        <div role="main" class="ui-content">
            <label for="title">Title</label>
            <input type="text" name="title" id="text-basic" value="">

            <label for="desc">Description</label>
            <textarea rows="5" name="desc" id="textarea"></textarea>

            <label for="price">Price</label>
            <input type="number" name="price" pattern="[0-9]*" id="price" value="">

            <label for="sdate">Start Date</label>
            <input type="date" name="sdate" id="sdate" value="">

            <label for="edate">End Date</label>
            <input type="date" name="edate" id="edate" value="">

            <a href="#position">Map</a>
        </div>

        <div data-role="footer" data-position="fixed">
            <div data-role="navbar">
                <ul>
                    <li><a href="#list" data-icon="bullets" class="">My Promos</a></li>
                    <li><a href="#form" data-icon="plus" class="ui-state-persist">New Promo</a></li>
                </ul>
            </div><!-- /navbar -->
        </div><!-- /footer -->
    </div>



    <div role="page" id="position">
        <div data-role="header" data-add-back-btn="true"  data-position="fixed">
            <h1>CAPort2020</h1>
            <button class="ui-btn-right ui-btn ui-btn-b ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-check">Save</button>
        </div>

        <div role="main" class="ui-content" id="map"></div>        
    </div>



    <script type="text/javascript" src="assets/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script type="text/javascript" src="js/plugins/handlebars-v4.0.5.js"></script>
    <script type="text/javascript" src="js/plugins/moment-with-locales.min.js"></script>
    
    <script type="text/javascript" src="js/mobile/mobile.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7svax8fUAqTVVvtjynvTAf105rMbEEsQ"></script>
    

    <script id="entry-template" type="text/x-handlebars-template">
        {{#each promos}}
            <li>
                <a href="#">
                    <!--img src="{{this.images.[0]}}"-->
                    <h3 class="topic">{{this.name}}</h3>
                    <p><strong>{{this.description}}</strong></p>
                    <p>dal {{this.startDate}} al {{this.endDate}} - &euro; {{this.price}}</p>                    
                </a>
            </li>
        {{/each}}
    </script>

</body>
</html>