<!--categories(label) images dictionary-->
<script>
/*
 var imagedictionary={
     1:"icon-hotel-restaurant-001",
     2:"icon-hotel-restaurant-020",
     3:"icon-education-074",
     4:"icon-travel-122",
     5:"icon-travel-052",
     6:"icon-food-010",
     7:"icon-education-034",
     8:"icon-education-113",
     9:"icon-education-029",
     10:"icon-sport-137",
     11:"icon-travel-003",
     12:"glyphicon glyphicon-leaf",
     13:"icon-travel-050"
 }
*/
 var imageTypedictionary={
     type_1:"icon-finance-202",
     type_2:"icon-food-004"
 }

 Handlebars.registerHelper('image', function(item,type, options) {

     if(type=='type')
         return imageTypedictionary[item]
     else
         return imagedictionary[item];
 });



</script>


<script id="promotion_template" type="text/x-handlebars-template">
    <div class="container">
        <div class="row">
            <!-- Blog Grid Left -->
            <div class="col-sm-6 col-6">


                <div class="tab-v2">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#picture" data-toggle="tab" aria-expanded="true"><i class=" icon-picture"></i> <span data-i18n="promotion.poster">Locandina</span></a></li>
                        <li class=""><a href="#details" data-toggle="tab" aria-expanded="false"><i class="icon-book-open"></i> <span data-i18n="promotion.description">Dettagli</span></a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="picture">
                            <div class="row">
                                <img class="img-responsive" src="{{promo_image}}" alt="" style='height: 100%; width: 100%;'>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="details">
                            <div id="descr" class="row">
                                <p data-i18n="promo_multilanguage.description">{{description}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!--hr class="devider devider-db"-->

                <div style="margin-top:20px">
                    <!-- Panel with Equal Height -->
                    <div class="panel panel-default equal-height-column">
                        <div class="panel-heading">
                            <h4 class="panel-title"><i class="fa fa-tasks"></i><span data-i18n="promotion.typeandcat"></span></h4>
                        </div>
                        <div class="panel-body">

                            <div>
                                <h5><span data-i18n="promotion.type">Event Type</span><span> :  </span> <span class="{{#image event_type 'type'}}{{/image}}"></span>&nbsp;<span data-i18n="promotion.{{event_type}}"></span></h5>
                            </div>

                            <!--space start-->
                            <div class="margin-bottom-20"></div>
                            <hr>
                            <div class="margin-bottom-20"></div>
                            <!--space end-->


                            <!--categorie start-->
                            <h5>
                                <span data-i18n="promotion.cats">Categories</span>
                                <span> : </span>
                                {{#each categories}}
                                    <span class="{{this.icon}}"></span> <span style="margin-right:20px" data-i18n="cat_{{this._id}}.cat_name"></span>
                                {{/each}}
                            </h5>

                            <!--categories end-->
                        </div>

                    </div>
                    <!-- End Red Panel with Equal Height -->
                </div>



            </div>
            <!-- End Blog Grid Left -->


            <!-- Blog Grid Right -->
            <div class="col-sm-6 col-6">

                <!--Save and Delete Start-->

                <div class="row">
                    <div class="col-sm-12">
                        {{#if token}}
                            <button class="btn-u btn-u-dark-blue" type="button" onclick="window.location.href='{{baseUrl}}/activities/{{contentId}}/?access_token={{access_token}}'"><span><i class="fa fa-home"></i>  </span> <span data-i18n="promotion.gotoactivity">activity</span> </button>
                            <button class="btn-u btn-u-blue" type="button" onclick="updatePromotion();"><i class="fa fa-pencil"></i></button>
                            <button class="btn-u btn-u-red" type="button" onclick="ds_deletePromotion();"><i class="fa fa-trash"></i></button>
                        {{else}}
                            <button class="btn-u btn-u-dark-blue" type="button" onclick="window.location.href='{{baseUrl}}/activities/{{contentId}}/'"><span><i class="fa fa-home"></i>  </span> <span data-i18n="promotion.gotoactivity">activity</span> </button>
                        {{/if}}

                    </div>
                </div>

                <!--Save and Delete End-->



                <h3>{{#if rec_group}}<i class="fa fa-history" style="color:lightskyblue; vertical-align: super;font-size:small;" data-i18n="[title]promotion.recurrence"></i>{{/if}}<span data-i18n="promo_multilanguage.title">{{name}}</span> </h3>
                <!-- DPO_CHANGE ul class="actions">
                    <li class="likeandjoin"><a href="javascript:setLike();"><i id="likecounticon" class="fa fa-thumbs-up"></i> <span id="likecount">0</span></a> <span data-i18n="promotion.likes">mi piace</span></li>
                    <li class="likeandjoin" style="padding:0 5px"> / </li>
                    <li class="likeandjoin blog-grid-participate participatelisttooltip">
                        <a href="javascript:setParticipate();"><i  id="participatecounticon" class="fa fa-user"></i> <span id="participatecount">0</span></a>
                        <span data-i18n="promotion.participants">partecipanti</span>
                        {{#if  participants}}
                            <a id="participantslist" href="javascript:openModalParticipants();" data-toggle="tooltip" data-html="true" title="{{participants}}" data-placement="bottom"><i  id="participatelisticon" class="fa fa-caret-down"></i></a>
                        {{/if}}
                    </li>
                </ul-->


                <!--Begin modal participants list-->
                {{#if participants}}
                    <div id="modalParticipants" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                                    <h4 id="myLargeModalLabel3" class="modal-title" data-i18n="promotion.participantslist"></h4>
                                </div>
                                <div class="modal-body">
                                    <!-- Begin Table Search Panel v2 -->
                                    <div class="table-search-v2 panel panel-dark margin-bottom-50">
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-striped">
                                                <tbody>{{{participantsDetails}}}</tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/if}}
                <!--End modal participants list-->



                <div class="row g-mb-20">
                    <!-- Coming Soon Plugn -->

                    <div class="col-sm-8 g-md-mb-30">
                        <div class="coming-soon-plugin">
                            <div id="defaultCountdown" style="padding-left:12px;"></div>
                        </div>
                    </div>

                    <!-- End Coming Soon Plugin -->

                    <!--price -->
                    <div class="col-sm-4 g-md-mb-30">
                        <!--div class="pricediv>
                            <center>
                                <h2>
                                    <span>€</span>
                                    <br>
                                    <span>{{#if price}}{{price}}{{else}}Free{{/if}}</span>
                                </h2>
                            </center>
                        </div-->
                        <h2 style="text-align:center; font-size:40px; color:rgba(71,101,160, 1);"><i><b>{{#if price}}€ {{price}}{{else}}Free{{/if}}</b></i></h2>

                    </div>
                    <!--price end-->

                </div>

                <!--events date-->
                <div class="row g-mb-20">
                    <!--event Start-->
                    <div class="col-sm-6 g-md-mb-30">
                        <div class="media">
                            <div class="media-left">
                                <span class="promo-block-media-icon fa fa-calendar g-mr-10"></span>
                            </div>
                            <div class="media-body">
                                <span class="text-uppercase promo-block-media-subtitle" data-i18n="promotion.whenStart"></span>
                                <h5 id="whenstart" class="text-uppercase promo-block-media-title">{{start}}</h5>
                            </div>
                        </div>
                    </div>
                    <!-- End event Start-->

                    <!--event End-->
                    <div class="col-sm-6 g-md-mb-30">
                        <div class="media">
                            <div class="media-left">
                                <span class="promo-block-media-icon fa fa-calendar g-mr-10"></span>
                            </div>
                            <div class="media-body">
                                <span class="text-uppercase promo-block-media-subtitle" data-i18n="promotion.whenEnd"></span>
                                <h5 id="whenend" class="text-uppercase promo-block-media-title">{{end}}</h5>
                            </div>
                        </div>
                    </div>
                    <!-- End event End-->

                    <!--Where   -->
                    <div class="col-sm-12 g-md-mb-30">
                        <div class="media">
                            <div class="media-left">
                                <span class="promo-block-media-icon fa fa-map-marker g-mr-10"></span>
                            </div>
                            <div class="media-body">
                                <span class="text-uppercase promo-block-media-subtitle" data-i18n="promotion.where"></span>
                                <a onclick="mapZoom()"><h5 id="where" class="text-uppercase promo-block-media-title">{{where}}</h5></a>
                            </div>
                        </div>
                    </div>
                    <!--Where  End -->

                    <div class="col-sm-12 g-md-mb-30">
                        <div id="map" class="map margin-bottom-50"></div>
                    </div>
                </div>
            </div>
            <!-- End Blog Grid Right-->
        </div>


    </div>
</script>



<script id="admin_promotion_template" type="text/x-handlebars-template">
    <div class="modal fade in" id="customRecCal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel4">Responsive Modal</h4>
                </div>
                <div class="modal-body">
                    <div id="calendarCustomRec"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-u btn-u-default" id="cancCDBtn" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn-u btn-u-primary" id="saveCDBtn">Save dates</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">

        <!-- Blog Grid Left -->
        <div class="col-6 col-sm-6">


            <div class="tab-v2">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#picture" data-toggle="tab" aria-expanded="true"><i class=" icon-picture"></i> <span data-i18n="promotion.poster">Locandina</span></a></li>
                    <!--li class=""><a href="#details" data-toggle="tab" aria-expanded="false"><i class="icon-book-open"></i> <span data-i18n="promotion.description">Dettagli</span></a></li-->
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade active in" id="picture">

                        <div class="row thumbnails thumbnail-style">
                            <div class="thumbnail-img">
                                <div class="overflow-hidden">
                                    <img id="promotionImage" class="img-responsive" src="{{promo_image}}" alt="" style='height: 100%; width: 100%;'>
                                </div>
                                <a class="btn-more hover-effect" onclick="promotionPictureOpenDialog()">
                                    <span><i class="fa fa-pencil"></i> <span data-i18n="{{#if promo_image}}promotion.change{{else}}promotion.browse{{/if}}"></span></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--div class="tab-pane fade" id="details">
                        <div id="descr" class="row">
                            <p>{{description}}</p>
                        </div>
                    </div-->
                </div>
            </div>


            <div id="dPicture" class="alert alert-danger fade in" hidden>
                <strong data-i18n="validate.warning"></strong> <span data-i18n="validate.noPicture"></span>
            </div>

            <!--hr class="devider devider-db"-->


            <div style="margin-top:20px">
                <!-- Red Panel with Equal Height -->
                <div class="panel panel-default equal-height-column">
                    <div class="panel-heading">
                        <h4 class="panel-title"><i class="fa fa-tasks"></i><span data-i18n="promotion.typeandcat"></span></h4>
                    </div>
                    <div class="panel-body">

                        <div>

                            <h5><span data-i18n="promotion.type">Event Type</span><span> : </span></h5>



                            <!--Radio group-->
                            <div id="promotype">
                                <div class="col-md-4 form-check">
                                    <input value="1" class="form-check-input" name="grouptype" type="radio">
                                    <label class="form-check-label"><span class="icon-finance-202"></span>  <span data-i18n="promotion.offer">Option 1</span></label>
                                </div>

                                <div class="col-md-4 form-check">
                                    <input value="2" class="form-check-input" name="grouptype" type="radio">
                                    <label class="form-check-label"><span class="icon-food-004"></span>  <span data-i18n="promotion.event">Option 2</span></label>
                                </div>

                            </div>
                            <!--Radio group-->


                            <!--Checkbox butons-->
                        </div>

                        <!--space start-->
                        <div class="margin-bottom-20"></div>
                        <hr>
                        <div class="margin-bottom-20"></div>
                        <!--space end-->


                        <!--sategorie start-->
                        <h5><span data-i18n="promotion.cats">Categories</span><span> : </span></h5>
                        <div id="categories" class="row" id="f_catDrop">
                            {{#each categories}}
                                <div class="col-md-4">
                                    <input id="cbox_{{this._id}}" type="checkbox" value="{{this._id}}" name="category" class="ibtn">
                                    <label for="cbox_{{this._id}}">&nbsp;<span class="{{this.icon}}"></span> - <span data-i18n="cat_{{this._id}}.cat_name">{{this.name}}</span></label>
                                </div>
                            {{/each}}
                            <!--div class="col-md-4">
                                <input id="cbox_1" type="checkbox" value="1" name="category" class="ibtn">
                                <label for="cbox_1">&nbsp;<span class="icon-hotel-restaurant-001"></span> - <span>Hotel</span></label>
                            </div>
                            <div class="col-md-4">
                                <input id="cbox_2" type="checkbox" value="2" name="category" class="ibtn">
                                <label for="cbox_2">&nbsp;<span class="icon-hotel-restaurant-020"></span> - <span>Ristoranti</span></label>
                            </div>
                            <div class="col-md-4">
                                <input id="cbox_3" type="checkbox" value="3" name="category" class="ibtn">
                                <label for="cbox_3">&nbsp;<span class="icon-education-074"></span> - <span>Musei</span></label>
                            </div>
                            <div class="col-md-4">
                                <input id="cbox_4" type="checkbox" value="4" name="category" class="ibtn">
                                <label for="cbox_4">&nbsp;<span class="icon-travel-122"></span>  -  <span>Sagre</span></label>
                            </div>
                            <div class="col-md-4">
                                <input id="cbox_5" type="checkbox" value="5" name="category" class="ibtn">
                                <label for="cbox_5">&nbsp;<span class="icon-travel-052"></span>  -  <span>Monumenti</span></label>
                            </div>
                            <div class="col-md-4">
                                <input id="cbox_6" type="checkbox" value="6" name="category" class="ibtn">
                                <label for="cbox_6">&nbsp;<span class="icon-food-010"></span> - <span>Feste</span></label>
                            </div>
                            <div class="col-md-4">
                                <input id="cbox_7" type="checkbox" value="7" name="category" class="ibtn">
                                <label for="cbox_7">&nbsp;<span class="icon-education-034"></span> - <span>Tradizioni</span></label>
                            </div>
                            <div class="col-md-4">
                                <input id="cbox_8" type="checkbox" value="8" name="category" class="ibtn">
                                <label for="cbox_8">&nbsp;<span class="icon-education-113"></span> - <span>Istituzioni</span></label>
                            </div>
                            <div class="col-md-4">
                                <input id="cbox_9" type="checkbox" value="9" name="category" class="ibtn">
                                <label for="cbox_9">&nbsp;<span class="icon-education-029"></span> - <span>Scienza</span></label>
                            </div>
                            <div class="col-md-4">
                                <input id="cbox_10" type="checkbox" value="10" name="category" class="ibtn">
                                <label for="cbox_10">&nbsp;<span class="icon-sport-137"></span> - <span>Sport</span></label>
                            </div>
                            <div class="col-md-4">
                                <input id="cbox_11" type="checkbox" value="11" name="category" class="ibtn">
                                <label for="cbox_11">&nbsp;<span class="icon-travel-003"></span> - <span>Mare</span></label>
                            </div>
                            <div class="col-md-4">
                                <input id="cbox_12" type="checkbox" value="12" name="category" class="ibtn">
                                <label for="cbox_12">&nbsp;<span class="glyphicon glyphicon-leaf"></span> - <span>Natura</span></label>
                            </div-->
                        </div>
                        <!--categories end-->
                    </div>

                </div>
                <!-- End Red Panel with Equal Height -->

                <div id="dType" class="alert alert-danger fade in" hidden>
                    <strong data-i18n="validate.warning"></strong> <span data-i18n="validate.voidOffer"></span>
                </div>

            </div>

        </div>
        <!-- End Blog Grid Left -->


        <!-- Blog Grid Right -->
        <div class="col-6 col-sm-6">
            <!--<form id="sky-form" class="sky-form">-->
            <div id="sky-form" class="sky-form">
                <header data-i18n="promotion.manage"></header>

                <fieldset>


                    <!--language writing Start-->
                    <section>
                        <label class="label" data-i18n="promotion.language">Titolo</label>
                        <select id="multilanguageselect" style='background-color:transparent;'>
                            <option value='it'>&#x1F1EE;&#x1F1F9;&nbsp;Italiano</option>
                            <option value='en'>&#x1F1EC;&#x1F1E7;&nbsp;Inglese</option>
                            <!--option value='fr'>&#x1F1EB;&#x1F1F7;&nbsp;Francese</option>
                            <option value='es'>&#x1F1EA;&#x1F1F8;&nbsp;Spagnolo</option>
                            <option value='de'>&#x1F1E9;&#x1F1EA;&nbsp;Tedesco</option>
                            <option value='pt'>&#x1F1F5;&#x1F1F9;&nbsp;Portoghese</option>
                            <option value='ru'>&#x1F1F7;&#x1F1FA;&nbsp;Russo</option>
                            <option value='gr'>&#x1F1EC;&#x1F1F7;&nbsp;Greco</option>
                            <option value='br'>&#x1F1E7;&#x1F1F7;&nbsp;Brasiliano</option-->
                        </select>
                    </section>
                    <!--language writing End-->

                    <!--title Start-->
                    <section id="sTitle">
                        <label class="label" data-i18n="promotion.title">Titolo</label>
                        <label id="lTitle" class="input">
                            <i class="icon-append fa fa-ticket"></i>
                            <input id="promotionTitle" data-i18n="[placeholder]promotion.titlePlaceholder" type="text" name="name">
                        </label>
                    </section>
                    <!--title End-->

                    <!--Description Start-->
                    <section id="sDescription">
                        <label class="label" data-i18n="promotion.textDescription">descrizione</label>
                        <label id="lDescription" class="textarea">
                            <i class="icon-append fa fa-comment"></i>
                            <textarea id="promotionDescription" data-i18n="[placeholder]promotion.descriptionPlaceholder" rows="8" name="description"></textarea>
                        </label>
                    </section>
                    <!--Description End-->


                    <!--Date Panel Start-->
                    <div class="row">
                        <!--Begin Date Start-->
                        <section id="sStartDate" class="col col-6">
                            <div class="label" data-i18n="promotion.startDate">Data Inizio</div>
                            <div class="form-group">
                                <div class='input-group date' id='datetimepickerStart'>
                                    <input id="promotionStartDate" type='text' class="form-control" data-i18n="[placeholder]promotion.startDate" style="border-color: #ccc" />
                                    <span class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </section>
                        <!--Begin Date End-->

                        <!--Stop Date Start-->
                        <section id="sEndDate" class="col col-6">
                            <div class="label" data-i18n="promotion.endDate">Data Fine</div>
                            <div class="form-group">
                                <div class='input-group date' id='datetimepickerEnd'>
                                    <input id="promotionEndDate" type='text' class="form-control" data-i18n="[placeholder]promotion.endDate" style="border-color: #ccc" />
                                    <span class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </section>
                        <!--Stop Date End-->
                    </div>
                    <!--Date Panel End-->




                    <div class="row">
                        <section class="col col-12" style="width:100%;">
                            <div class="label" data-i18n="promotion.recurrence">Ricorrenza</div>
                            <div class="form-group">
                                <select id="promoRecurrence" class="form-control" style="border-color: #ccc;">
                                    <option value='0' data-i18n='promotion.norepeat'></option>
                                    <option value='1' data-i18n='promotion.everyday'></option>
                                    <option value='2' data-x1='promotion.everyweek'></option>
                                    <option value='3' data-i18n='promotion.custom'></option>
                                </select>
                            </div>
                        </section>
                    </div>
                    
                    <div class="row" style="display:none;margin-bottom:20px;" id="recDaysRow">
                        <div class="col col-12">
                            <i class="fa fa-calendar"></i> <a href="#"></a>
                        </div>
                    </div>

                    <div class="row" style="display:none" id="recEndRow">
                        <section class="col col-12">
                            <label class="label" data-i18n="promotion.recEndDate" for="">Termine ricorrenza</label>
                            <div class="form-group">
                                <div class='input-group date' id='datetimepickerRecEnd'>
                                    <input id="recEndDate" type='text' class="form-control" data-i18n="[placeholder]promotion.recEndDate" style="border-color: #ccc" />
                                    <span class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </section>
                    </div>




                    <!--Price/Where Panel Start-->
                    <div class="row">
                        <!--Price Start-->
                        <section id="sPrice" class="col col-4">
                            <label class="label" data-i18n="promotion.price">Prezzo</label>
                            <label id="lPrice" class="input">
                                <i class="icon-append glyphicon glyphicon-euro"></i>
                                <input id="promotionPrice" placeholder="free" type="text" name="name">
                            </label>
                        </section>
                        <!--Price End-->

                        <!--Where Start-->

                        <section id="sWhere" class="col col-8">
                            <label class="label" data-i18n="promotion.where">Dove</label>
                            <label id="lWhere" class="input">
                                <i class="icon-append  icon-compass"></i>
                                <input data-i18n="[placeholder]promotion.wherePlace" onblur="getPositionLatLon()" id="promotionWhere" type="text" name="name">
                            </label>
                        </section>
                        <!--Where End-->

                    </div>
                    <!--Price/Where Panel End-->

                    <section>
                        <div id="map" class="map margin-bottom-50"></div>
                    </section>


                    <section style="display: none;">
                        <label for="file" class="input input-file">
                            <div  class="button">
                                <input id="updatePicture" type="file" name="file" multiple="">Browse
                            </div>
                        </label>
                    </section>


                </fieldset>

                
                <footer>
                    <div id="responseBlock" class="alert alert-danger hidden"></div>
                    <button disabled id="promotionSaveButton" type="button" onclick="savePromotion({{isANewPromotion}})" name="submit" class="btn-u btn-u-green"><span><i class="fa fa-pencil"></i>  </span><span data-i18n="promotion.save">Save</span></button>
                    <button id="promotionCancelButton" type="button" class="btn-u btn-u-dark-blue" onclick="exitFromInsertMode()"><span><i class="fa fa-history"></i>  </span><span data-i18n="profile.cancel">Save</span></button>
                    <button id="promotionDeleteButton" type="button" class="btn-u btn-u-red" onclick="ds_deletePromotion()"><span><i class="fa fa-eraser"></i>  </span><span data-i18n="promotion.delete">Delete</span></button>
                </footer>

            </div>
        </div>
        </div>
    </div>
</script>
