<!--categories(label) images dictionary-->
<script>
 var imagedictionary={
     1:"icon-hotel-restaurant-001",
     2:"icon-hotel-restaurant-020",
     3:"icon-education-074",
     4:"icon-travel-122",
     5:"icon-travel-052",
     6:"icon-food-010",
     7:"icon-education-034",
     8:"icon-education-113",
     9:"icon-education-029",
     10:"icon-sport-137",
     11:"icon-travel-003",
     12:"glyphicon glyphicon-leaf"
 }

 var imageTypedictionary={
     type_1:"icon-finance-202",
     type_2:"icon-food-004"
 }

 Handlebars.registerHelper('image', function(item,type, options) {

     if(type=='type')
         return imageTypedictionary[item]
     else
         return imagedictionary[item];
 });



</script>


<script id="promotion_template" type="text/x-handlebars-template">
    <div class="masonry-box" style="position: relative; height: 1183.56px;">

        <!-- Blog Grid Left -->
        <div class="blog-grid masonry-box-in col-2" style="position: absolute; left: 0px; top: 0px;">


            <div class="tab-v2">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#picture" data-toggle="tab" aria-expanded="true"><i class=" icon-picture"></i> <span data-i18n="promotion.poster">Locandina</span></a></li>
                    <li class=""><a href="#details" data-toggle="tab" aria-expanded="false"><i class="icon-book-open"></i> <span data-i18n="promotion.description">Dettagli</span></a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade active in" id="picture">
                        <div class="row">
                            <img class="img-responsive" src="{{promo_image}}" alt="" style='height: 100%; width: 100%;'>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="details">
                        <div id="descr" class="row">
                            <p>{{description}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="devider devider-db">


            <div>
                <!-- Panel with Equal Height -->
                <div class="panel panel-default equal-height-column">
                    <div class="panel-heading">
                        <h4 class="panel-title"><i class="fa fa-tasks"></i><span data-i18n="promotion.typeandcat"></span></h4>
                    </div>
                    <div class="panel-body">

                        <div>
                            <h5><span data-i18n="promotion.type">Event Type</span><span> :  </span> <span class="{{#image event_type 'type'}}{{/image}}"></span>&nbsp;<span data-i18n="promotion.{{event_type}}"></span></h5>
                        </div>

                        <!--space start-->
                        <div class="margin-bottom-20"></div>
                        <hr>
                        <div class="margin-bottom-20"></div>
                        <!--space end-->


                        <!--categorie start-->
                        <h5>
                            <span data-i18n="promotion.cats">Categories</span>
                            <span> : </span>
                            {{#each categories}}
                                <span class="{{#image this 'category'}}{{/image}}"></span>&nbsp;<span data-i18n="promotion.category_{{this}}"></span> {{#unless @last}} -- {{/unless}}
                            {{/each}}
                        </h5>

                        <!--categories end-->
                    </div>

                </div>
                <!-- End Red Panel with Equal Height -->
            </div>



        </div>
        <!-- End Blog Grid Left -->


        <!-- Blog Grid Right -->
        <div class="blog-grid masonry-box-in col-2" style="position: absolute; left: 585px; top: 0px;">

            <!--Save and Delete Start-->

            <div class="row">
                <div class="col-sm-6">
                    {{#if token}}
                        <button class="btn-u btn-u-dark-blue" type="button" onclick="window.location.href='{{baseUrl}}/activities/{{contentId}}/?access_token={{access_token}}'"><span><i class="fa fa-home"></i>  </span> <span data-i18n="promotion.gotoactivity">activity</span> </button>
                        <button class="btn-u btn-u-blue" type="button" onclick="updatePromotion();"><i class="fa fa-pencil"></i></button>
                        <button class="btn-u btn-u-red" type="button"><i class="fa fa-trash"></i></button>
                    {{else}}
                        <button class="btn-u btn-u-dark-blue" type="button" onclick="window.location.href='{{baseUrl}}/activities/{{contentId}}/'"><span><i class="fa fa-home"></i>  </span> <span data-i18n="promotion.gotoactivity">activity</span> </button>
                    {{/if}}

                </div>
            </div>

            <!--Save and Delete End-->



            <h3>{{name}} </h3>
            <ul class="blog-grid-info">
                <li class="blog-grid-like"><a href="javascript:setLike();"><i id="likecounticon" class="fa fa-thumbs-up"></i> <span id="likecount">0</span></a> <span data-i18n="promotion.likes">mi piace</span></li>
                <li class="blog-grid-participate participatelisttooltip">
                    <a href="javascript:setParticipate();"><i  id="participatecounticon" class="fa fa-user"></i> <span id="participatecount">0</span></a>
                    <span data-i18n="promotion.participants">partecipanti</span>
                    {{#if  participants}}
                        <a id="participantslist" href="javascript:openModalParticipants();" data-toggle="tooltip" data-html="true" title="{{participants}}" data-placement="bottom"><i  id="participatelisticon" class="fa fa-caret-down"></i></a>
                    {{/if}}
                </li>
            </ul>


            <!--Begin modal participants list-->
            {{#if  participants}}
                <div id="modalParticipants" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                                <h4 id="myLargeModalLabel3" class="modal-title" data-i18n="promotion.participantslist"></h4>
                            </div>
                            <div class="modal-body">
                                <!-- Begin Table Search Panel v2 -->
                                <div class="table-search-v2 panel panel-dark margin-bottom-50">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped">
                                            <tbody>{{{participantsDetails}}}</tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/if}}
            <!--End modal participants list-->



            <div class="row g-mb-20">
                <!-- Coming Soon Plugn -->

                <div class="col-sm-9 g-md-mb-30">
                    <div class="coming-soon-plugin">
                        <div id="defaultCountdown"></div>
                    </div>
                </div>

                <!-- End Coming Soon Plugin -->

                <!--price start-->
                <div class="col-sm-3 g-md-mb-30">
                    <div class="pricediv">
                        <center>
                            <h2>
                                <span>€</span>
                                <br>
                                <span>{{#if price}}{{price}}{{else}}Free{{/if}}</span>
                            </h2>
                        </center>
                    </div>

                </div>
                <!--price end-->

            </div>

            <!--events date-->
            <div class="row g-mb-20">
                <!--event Start-->
                <div class="col-sm-6 g-md-mb-30">
                    <div class="media">
                        <div class="media-left">
                            <span class="promo-block-media-icon fa fa-calendar g-mr-10"></span>
                        </div>
                        <div class="media-body">
                            <span class="text-uppercase promo-block-media-subtitle" data-i18n="promotion.whenStart"></span>
                            <h5 id="whenstart" class="text-uppercase promo-block-media-title">{{start}}</h5>
                        </div>
                    </div>
                </div>
                <!-- End event Start-->

                <!--event End-->
                <div class="col-sm-6 g-md-mb-30">
                    <div class="media">
                        <div class="media-left">
                            <span class="promo-block-media-icon fa fa-calendar g-mr-10"></span>
                        </div>
                        <div class="media-body">
                            <span class="text-uppercase promo-block-media-subtitle" data-i18n="promotion.whenEnd"></span>
                            <h5 id="whenend" class="text-uppercase promo-block-media-title">{{end}}</h5>
                        </div>
                    </div>
                </div>
                <!-- End event End-->

                <!--Where   -->
                <div class="col-sm-12 g-md-mb-30">
                    <div class="media">
                        <div class="media-left">
                            <span class="promo-block-media-icon fa fa-map-marker g-mr-10"></span>
                        </div>
                        <div class="media-body">
                            <span class="text-uppercase promo-block-media-subtitle" data-i18n="promotion.where"></span>
                            <a onclick="mapZoom()"><h5 id="where" class="text-uppercase promo-block-media-title">{{where}}</h5></a>
                        </div>
                    </div>
                </div>
                <!--Where  End -->

                <div class="col-sm-12 g-md-mb-30">
                    <div id="map" class="map margin-bottom-50"></div>
                </div>
            </div>
        </div>
        <!-- End Blog Grid Right-->



    </div>
</script>



<script id="admin_promotion_template" type="text/x-handlebars-template">
    <div class="masonry-box" style="position: relative; height: 1183.56px;">

        <!-- Blog Grid Left -->
        <div class="blog-grid masonry-box-in col-2" style="position: absolute; left: 0px; top: 0px;">


            <div class="tab-v2">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#picture" data-toggle="tab" aria-expanded="true"><i class=" icon-picture"></i> <span data-i18n="promotion.poster">Locandina</span></a></li>
                    <li class=""><a href="#details" data-toggle="tab" aria-expanded="false"><i class="icon-book-open"></i> <span data-i18n="promotion.description">Dettagli</span></a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade active in" id="picture">

                        <div class="row thumbnails thumbnail-style">
                            <div class="thumbnail-img">
                                <div class="overflow-hidden">
                                    <img id="promotionImage" class="img-responsive" src="{{promo_image}}" alt="" style='height: 100%; width: 100%;'>
                                </div>
                                <a class="btn-more hover-effect" onclick="promotionPictureOpenDialog()">
                                    <span><i class="fa fa-pencil"></i> <span data-i18n="promotion.browse"></span></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="details">
                        <div id="descr" class="row">
                            <p>{{description}}</p>
                        </div>
                    </div>
                </div>
            </div>




            <hr class="devider devider-db">


            <div>
                <!-- Red Panel with Equal Height -->
                <div class="panel panel-default equal-height-column">
                    <div class="panel-heading">
                        <h4 class="panel-title"><i class="fa fa-tasks"></i><span data-i18n="promotion.typeandcat"></span></h4>
                    </div>
                    <div class="panel-body">

                        <div>

                            <h5><span data-i18n="promotion.type">Event Type</span><span> : </span></h5>



                            <!--Radio group-->
                            <div id="promotype">
                                <div class="col-md-4 form-check">
                                    <input value="1" class="form-check-input" name="grouptype" type="radio">
                                    <label class="form-check-label"><span class="icon-finance-202"></span>  <span data-i18n="promotion.offer">Option 1</span></label>
                                </div>

                                <div class="col-md-4 form-check">
                                    <input value="2" class="form-check-input" name="grouptype" type="radio">
                                    <label class="form-check-label"><span class="icon-food-004"></span>  <span data-i18n="promotion.event">Option 2</span></label>
                                </div>
                            </div>
                            <!--Radio group-->


                            <!--Checkbox butons-->
                        </div>

                        <!--space start-->
                        <div class="margin-bottom-20"></div>
                        <hr>
                        <div class="margin-bottom-20"></div>
                        <!--space end-->


                        <!--sategorie start-->
                        <h5><span data-i18n="promotion.cats">Categories</span><span> : </span></h5>
                        <div id="categories" class="row" id="f_catDrop">
                            <div class="col-md-4">
                                <input id="cbox_1" type="checkbox" value="1" name="category" class="ibtn">
                                <label for="cbox_1">&nbsp;<span class="icon-hotel-restaurant-001"></span> - <span>Hotel</span></label>
                            </div>
                            <div class="col-md-4">
                                <input id="cbox_2" type="checkbox" value="2" name="category" class="ibtn">
                                <label for="cbox_2">&nbsp;<span class="icon-hotel-restaurant-020"></span> - <span>Ristoranti</span></label>
                            </div>
                            <div class="col-md-4">
                                <input id="cbox_3" type="checkbox" value="3" name="category" class="ibtn">
                                <label for="cbox_3">&nbsp;<span class="icon-education-074"></span> - <span>Musei</span></label>
                            </div>
                            <div class="col-md-4">
                                <input id="cbox_4" type="checkbox" value="4" name="category" class="ibtn">
                                <label for="cbox_4">&nbsp;<span class="icon-travel-122"></span>  -  <span>Sagre</span></label>
                            </div>
                            <div class="col-md-4">
                                <input id="cbox_5" type="checkbox" value="5" name="category" class="ibtn">
                                <label for="cbox_5">&nbsp;<span class="icon-travel-052"></span>  -  <span>Monumenti</span></label>
                            </div>
                            <div class="col-md-4">
                                <input id="cbox_6" type="checkbox" value="6" name="category" class="ibtn">
                                <label for="cbox_6">&nbsp;<span class="icon-food-010"></span> - <span>Feste</span></label>
                            </div>
                            <div class="col-md-4">
                                <input id="cbox_7" type="checkbox" value="7" name="category" class="ibtn">
                                <label for="cbox_7">&nbsp;<span class="icon-education-034"></span> - <span>Tradizioni</span></label>
                            </div>
                            <div class="col-md-4">
                                <input id="cbox_8" type="checkbox" value="8" name="category" class="ibtn">
                                <label for="cbox_8">&nbsp;<span class="icon-education-113"></span> - <span>Istituzioni</span></label>
                            </div>
                            <div class="col-md-4">
                                <input id="cbox_9" type="checkbox" value="9" name="category" class="ibtn">
                                <label for="cbox_9">&nbsp;<span class="icon-education-029"></span> - <span>Scienza</span></label>
                            </div>
                            <div class="col-md-4">
                                <input id="cbox_10" type="checkbox" value="10" name="category" class="ibtn">
                                <label for="cbox_10">&nbsp;<span class="icon-sport-137"></span> - <span>Sport</span></label>
                            </div>
                            <div class="col-md-4">
                                <input id="cbox_11" type="checkbox" value="11" name="category" class="ibtn">
                                <label for="cbox_11">&nbsp;<span class="icon-travel-003"></span> - <span>Mare</span></label>
                            </div>
                            <div class="col-md-4">
                                <input id="cbox_12" type="checkbox" value="12" name="category" class="ibtn">
                                <label for="cbox_12">&nbsp;<span class="glyphicon glyphicon-leaf"></span> - <span>Natura</span></label>
                            </div>
                        </div>
                        <!--categories end-->
                    </div>

                </div>
                <!-- End Red Panel with Equal Height -->
            </div>

        </div>
        <!-- End Blog Grid Left -->


        <!-- Blog Grid Right -->
        <div class="blog-grid masonry-box-in col-2" style="position: absolute; left: 585px; top: 0px;">
            <!--<form id="sky-form" class="sky-form">-->
            <div id="sky-form" class="sky-form">
                <header data-i18n="promotion.manage"></header>

                <fieldset>

                    <!--title Start-->
                    <section>
                        <label class="label" data-i18n="promotion.title">Titolo</label>
                        <label class="input">
                            <i class="icon-append fa fa-ticket"></i>
                            <input id="promotionTitle" data-i18n="[placeholder]promotion.titlePlaceholder" type="text" name="name">
                        </label>
                    </section>
                    <!--title End-->

                    <!--Description Start-->
                    <section>
                        <label class="label" data-i18n="promotion.textDescription">descrizione</label>
                        <label class="textarea">
                            <i class="icon-append fa fa-comment"></i>
                            <textarea id="promotionDescription" data-i18n="[placeholder]promotion.descriptionPlaceholder" rows="4" name="description"></textarea>
                        </label>
                    </section>
                    <!--Description End-->


                    <!--Date Panel Start-->
                    <div class="row">
                        <!--Begin Date Start-->
                        <section class="col col-6">
                            <div class="label" data-i18n="promotion.startDate">Data Inizio</div>
                            <div class="form-group">
                                <div class='input-group date' id='datetimepickerStart'>
                                    <input id="promotionStartDate" type='text' class="form-control" data-i18n="[placeholder]promotion.startDate" style="border-color: #ccc" />
                                    <span class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </section>
                        <!--Begin Date End-->

                        <!--Stop Date Start-->
                        <section class="col col-6">
                            <div class="label" data-i18n="promotion.endDate">Data Inizio</div>
                            <div class="form-group">
                                <div class='input-group date' id='datetimepickerEnd'>
                                    <input id="promotionEndDate" type='text' class="form-control" data-i18n="[placeholder]promotion.endDate" style="border-color: #ccc" />
                                    <span class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </section>
                        <!--Stop Date End-->
                    </div>
                    <!--Date Panel End-->


                    <!--Price/Where Panel Start-->
                    <div class="row">
                        <!--Price Start-->
                        <section class="col col-4">
                            <label class="label" data-i18n="promotion.price">Prezzo</label>
                            <label class="input">
                                <i class="icon-append glyphicon glyphicon-euro"></i>
                                <input id="promotionPrice" placeholder="free" type="text" name="name">
                            </label>
                        </section>
                        <!--Price End-->

                        <!--Where Start-->

                        <section class="col col-8">
                            <label class="label" data-i18n="promotion.where">Dove</label>
                            <label class="input">
                                <i class="icon-append  icon-compass"></i>
                                <input data-i18n="[placeholder]promotion.wherePlace" onblur="getPositionLatLon()" id="promotionWhere" type="text" name="name">
                            </label>
                        </section>
                        <!--Where End-->

                    </div>
                    <!--Price/Where Panel End-->

                    <section>
                        <div id="map" class="map margin-bottom-50"></div>
                    </section>


                    <section style="display: none;">
                        <label for="file" class="input input-file">
                            <div  class="button">
                                <input id="updatePicture" type="file" name="file" multiple="">Browse
                            </div>
                        </label>
                    </section>


                </fieldset>

                <footer>
                    <div id="responseBlock" class="alert alert-danger hidden"></div>
                    <button disabled id="promotionSaveButton" type="button" onclick="savePromotion({{isANewPromotion}})" name="submit" class="btn-u btn-u-default"><span><i class="fa fa-pencil"></i>  </span><span data-i18n="promotion.save">Save</span></button>
                    <button id="promotionCancelButton" type="button" class="btn-u btn-u-dark-blue" onclick="compilePromotion()"><span><i class="fa fa-history"></i>  </span><span data-i18n="profile.cancel">Save</span></button>
                </footer>

            </div>
        </div>
    </div>
</script>
